<!DOCTYPE html>
<html lang="cs-CZ">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicons/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicons/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicons/favicon-16x16.png" />
    <link rel="manifest" href="./favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./favicons/safari-pinned-tab.svg"
      color="#072ab3" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-TileImage" content="./favicons/mstile-144x144.png" />
    <meta name="msapplication-config" content="./favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <script src="./config.js"></script>
  </head>

  <body>
    <div id="app"></div>
  </body>

</html>
