body.bp3-dark {
  background-color: @pt-dark-app-background-color;

  .main-charts-container {
    & > .charts-container .chart {
      .svg-central-label {
        fill: @pt-dark-text-color;
        text:last-of-type {
          fill: darken(@pt-dark-text-color, 20%);
        }
      }

      .recharts-text.recharts-cartesian-axis-tick-value {
        fill: @pt-dark-text-color;
      }
      .custom-tooltip {
        background-color: @pt-dark-app-background-color;
        color: @pt-dark-text-color;
        box-shadow: 0 0 2px 1px fadein(@pt-dark-text-color, 50%);
      }
    }
  }
}
