.demo-mode-info {
	text-align: center;
  margin-top: -20px;
  color: @pt-intent-warning;
}

.users {
  .table-container {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;

    table {
      width: 100%;
      border: 1px solid;

      th,
      td {
        vertical-align: middle;

        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
      }
    }
  }
}

.charts {
  .date-line {
    display: flex;
    gap: unit(4 * @gap, px);
    justify-content: flex-start;
    align-items: center;

    .date-picker {
      .bp3-control-group {
        gap: unit(@gap, px);
      }
    }
  }

  .main-charts-container {
    & > .charts-container {
      margin-top: unit(@gap* 2, px);
      margin-bottom: unit(@gap, px);

      & > button {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        color: inherit;

        h3 .bp3-icon {
          margin-left:  1em;
          transition: 200ms transform ease-out;

          &.open {
            transform: rotate(180deg);
          }
        }

        &.clickable {
          cursor: pointer;
        }
      }

      .chart {
        width: 100%;
        height: 500px;

        .recharts-layer.recharts-pie-sector {
          path {
            transition: 200ms transform ease-in-out;
            transform-origin: center center;
          }

          &.over path {
            transform: scale(1.05);
          }
        }

        .svg-central-label {
          transform: translateY(0.5em);
          text:first-of-type {
            font-size: 350%;
            font-weight: bold;
          }
          text:last-of-type {
            fill: lighten(@pt-text-color, 20%);
          }
        }

        .recharts-text.recharts-cartesian-axis-tick-value {
          fill: @pt-text-color;
        }

        .custom-tooltip {
          padding: 5px 10px;
          background-color: @pt-app-background-color;
          color: @pt-text-color;
          border-radius: 0.25rem;
          box-shadow: 0 0 5px 2px fadeout(@pt-dark-app-background-color, 50%);
        }
      }
    }
  }
}
