@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/less/variables';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@gap: 10;

.box-shadow (@color) {
	box-shadow: 0 0 5px 1px @color;
}

.errorMessage {
	background-color: lighten(@pt-intent-danger, 45%);
	color: @pt-intent-danger;
	border: 2px solid @pt-intent-danger;
	.box-shadow(@pt-intent-danger);
}

.inputFormField {
	margin-bottom: unit(@gap, px);

	input:invalid {
		.box-shadow(@pt-intent-danger);
	}
}

.errorFormField {
	padding: unit(@gap / 2, px) unit(@gap, px);
	background-color: @pt-intent-danger;
	border-radius: 0.25rem;
	font-weight: bold;
	color: white;
}

body {
	font-size: unit(1.5 * @gap, px);
	margin: 0;
	padding: unit(@gap, px) 0;
	box-sizing: border-box;
	background-color: @pt-app-background-color;

	#app {
		margin: 0 auto;
		max-width: 800px;
		width: 90vw;

		footer {
			font-size: 85%;
			margin-top: unit(4 * @gap, px);
			text-align: right;
		}

		h1 {
			text-align: center;
		}

		.question {
			margin-bottom: unit(2 * @gap, px);

			&.error {
				.errorMessage;
			}

			&.correct {
				background-color: lighten(@pt-intent-success, 78%);
				color: @pt-intent-success;
				border: 2px solid @pt-intent-success;
				.box-shadow(@pt-intent-success);
			}

			&.completed {
				background-color: lighten(@pt-intent-warning, 75%);
				color: @pt-intent-warning;
				border: 2px solid @pt-intent-warning;
				.box-shadow(@pt-intent-warning);
			}

			h2 {
				margin-top: 0;
			}
		}

		.bp3-form-content {
			margin-top: unit(2 * @gap, px);

			label {
				margin-top: unit(2 * @gap, px);
			}

			.bp3-input-group {
				.inputFormField;
			}

			.error {
				.errorFormField;
			}

			.button-line {
				display: flex;
				justify-content: space-around;
				margin-top: unit(4 * @gap, px);
			}
		}

		.loader {
			position: fixed;
			z-index: 1;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			background-color: rgba(0, 0, 0, 0.65);
			justify-content: center;
			align-items: center;
		}

		.app-settings {
			display: flex;
			gap: unit(@gap / 2, px);
			align-items: center;
			justify-content: flex-end;
			margin-top: unit(@gap * 2, px);

			label.bp3-control.bp3-switch {
				margin-bottom: 0;
			};
		}
	}
}
@import './dark-mode';

.recovery-content {
	.recovery-info {
		margin-bottom: unit(2 * @gap, px);
	}

	.recovery-error {
		.errorFormField;
	}

	.bp3-form-group {
		margin-top: unit(2 * @gap, px);

		.bp3-input-group {
			.inputFormField;
		}

		.error {
			.errorFormField;
		}
	}

	.button-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
@import './recovery';
@import './stats';
